{% load django_bootstrap5 %}

<tr hx-target="this" hx-swap="outerHTML" id="create_form">
  {% csrf_token %}
  <td><input type="hidden" name="menu_item" value="{{ current_menu_item }}" />
    <label for="id_ingredient" class="visually-hidden">Ingredient</label>
    <select name="ingredient" id="id_ingredient" required class="form-select" hx-get="{% url 'htmx_get_ingredient_unit' %}" hx-target="#selected_units" hx-swap="innerhtml">
      {% for id, name in form.fields.ingredient.choices %}
      <option value="{{ id }}">{{ name }}</option>
      {% endfor %}
    </select>
    {% bootstrap_form_errors form layout='inline' %} 
    </td>
  <td><input type="number" name="quantity" value="0" step="any" class="form-control" placeholder="Quantity" required="" id="id_quantity" style="width: 60%; display: inline;"><label for="id_quantity" class="ms-2"><span id="selected_units">unit</span>(s)</label></td>
    <td>
      <div class="btn-group">
      <button class="btn btn-success" hx-include='closest tr' hx-post="{% url 'htmx_create_recipe_req' current_menu_item %}" _="on click remove .disabled from #createRecipeButton">Save</button>
      <button class="btn btn-danger" _="on click remove #create_form then remove .disabled from #createRecipeButton">Cancel</button>
      </div>
    </td> 
</tr>