{% extends basetemplate %}

{% block content %}
  <div class="modal-header">
    <h5 class="modal-title" id="modalLabel">Delete {{ object.name }}</h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      aria-label="Close"
    ></button>
  </div>
  <div class="modal-body">
    <form action="{% url 'htmx_delete_menu_item' object.id %}" method="POST" id="deleteForm">
      {% csrf_token %}
      <p>Are you sure you want to delete "{{ object }}"?</p>
      
      <!-- <input type="submit" value="Delete" /> -->
    </form>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-secondary"
        data-bs-dismiss="modal"
      >
        Cancel
      </button>
      <button
        class="btn btn-danger"
        hx-post="{% url 'htmx_delete_menu_item' object.id %}"
        hx-include="#deleteForm"
      >
        Delete
      </button>
    </div>
  </div>
{% endblock %}