
  <form action="{% url 'login' %}?next={{ next_page }}" method="POST">
    {% csrf_token %}
    {% if form.errors %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      Incorrect username or password.
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
    <div class="mb-3">
      <label for="username_field" class="form-label">Username</label>
      <input type="text" class="form-control" id="username_field" name="username">
    </div>
    <div class="mb-3">
      <label for="password_field" class="form-label">Password</label>
      <input type="password" class="form-control" id="password_field" name="password">
    </div>

    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
    <button class="btn btn-success" hx-post="{% url 'login' %}?next={{ next_page }}">Login</button>
    </form>