{% extends 'base.html' %} {% block content %}

<div class="p-5 mb-4 mt-4 mealwise-bg-lightgreen rounded-3">
  <div class="container py-3">
    <h1 class="display-3 fw-bold text-center">
      meal<span
        _="init wait 1500ms
           transition 'color' to #E05043 over 3s
           end"
        >wise</span
      >
    </h1>
    <p class="text-center lead fs-3 my-4">
      <span class="rounded-3 mealwise-bg-white py-2 px-4">
        Mind your peas and queues.
      </span>
    </p>
    {% if user.is_authenticated %}
    <p class="col-md-8 fs-4">
      Hey {{ user.username }}, nice to see you again!
    </p>
    <button class="btn btn-danger" type="button">Log out</button>
    {% else %}
    <p class="col-md-8 fs-4">
      Welcome to mealwise, a system for manager orders and inventory for restaurants. 
    </p>
    <a href="{% url 'create_purchase' %}" class="btn btn-success btn-lg">Place an Order</a> <a href="{% url 'create_purchase' %}" class="btn btn-info btn-lg ms-1">Create Restaurateur Account</a>
    {% endif %}
  </div>
</div>
{% endblock %}
