{% extends 'base.html' %}

{% block content %}
<h1>Pantry</h1>

<table class="table">
  <tr>
    <th>Ingredient</th>
    <th>Quantity</th>
    <th>Price per unit</th>
    <th>Edit Item</th>
  </tr>
  {% for ingredient in object_list %}
  <tr hx-target="this" hx-swap="outerHTML">
    <td>
      {{ ingredient.name }}
    </td>
    <td>
      {{ ingredient.quantity }} {{ ingredient.unit }}(s)
    </td>
    <td>
      ${{ ingredient.price_per_unit }} / {{ ingredient.unit }}
    </td>
    <td>
      <div class="btn-group">
      <button hx-get="{% url 'htmx_update_ingredient' ingredient.id %}" class="btn btn-primary">Edit</button>
      <a href="{% url 'delete_ingredient' ingredient.id %}" class="btn btn-danger">Delete</a>
      </div>
    </td>
  </tr>
  {% endfor %}
</table>

<a href="{% url 'create_ingredient' %}" class="btn mealwise-bg-darkgreen mealwise-white">Create Ingredient Record</a>
{% endblock %}