{% extends 'base.html' %}

{% block content %}
<h1>Menu Items</h1>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Price</th>
    {% if user.is_authenticated %}
    <th>Edit Item</th>
    {% endif %}
  </tr>
  {% for menu_item in object_list %}
  <tr>
    <td>
      {{ menu_item.name }}
    </td>
    <td>
      ${{ menu_item.price }}
    </td>
    {% if user.is_authenticated %}
    <td>
      <div class="btn-group" role="group">
      <a href="{% url 'update_menu_item' menu_item.id %}" class="btn btn-primary">Edit</a>
      <a href="{% url 'delete_menu_item' menu_item.id %}" class="btn btn-danger">Delete</a>
      </div>
    </td>
    {% endif %}
  </tr>
  {% endfor %}
</table>

{% if user.is_authenticated %}
<a href="{% url 'create_menu_item' %}" class="btn mealwise-bg-darkgreen mealwise-white">Create Menu Item</a>
{% endif %}
{% endblock %}