{% extends 'base.html' %}

{% block content %}
<h1>Purchases</h1>

<table class="table">
  <tr>
    <th>Item</th>
    <th>Order Time</th>
    <th>Edit Order</th>
  </tr>
  {% for purchase in object_list %}
  <tr>
    <td>
      {{ purchase.menu_item }}
    </td>
    <td>
      {{ purchase.time }}
    </td>
    <td>
      <div class="btn-group">
      <a href="{% url 'update_purchase' purchase.id %}" class="btn btn-primary">Edit</a>
      <a href="{% url 'delete_purchase' purchase.id %}" class="btn btn-danger">Delete</a>
      </div>
    </td>
  </tr>
  {% endfor %}
</table>

<a href="{% url 'create_purchase' %}" class="btn mealwise-bg-darkgreen mealwise-white">Create Purchase</a>
{% endblock %}