{% extends 'base.html' %}

<h1>Purchases</h1>

<table>
  <tr>
    <th>Item</th>
    <th>Order Time</th>
    <th>Edit Order</th>
  </tr>
  {% for purchase in object_list %}
  <tr>
    <td>
      {{ purchase.menu_item }}
    </td>
    <td>
      {{ purchase.time }}
    </td>
    <td>
      <a href="{% url 'update_purchase' purchase.id %}">Edit</a>
      <a href="{% url 'delete_purchase' purchase.id %}">Delete</a>
    </td>
  </tr>
  {% endfor %}
</table>

<ul>
<li><a href="{% url 'createpurchase' %}">Create Purchase</a></li>
</ul>