{% extends 'base.html' %}

{% block content %}
<h1>Recipe Requirements</h1>

<table>
  <tr>
    <th>Menu Item</th>
    <th>Ingredient</th>
    <th>Quantity Required</th>
    <th>Edit Item</th>
  </tr>
  {% for recipe_req in object_list %}
  <tr>
    <td>
      {{ recipe_req.menu_item.name }}
    </td>
    <td>
      {{ recipe_req.ingredient.name }}
    </td>
    <td>
      {{ recipe_req.quantity }} {{ recipe_req.ingredient.unit }}(s)
    </td>
    <td>
      <a href="{% url 'update_recipe_req' recipe_req.id %}">Edit</a>
      <a href="{% url 'delete_recipe_req' recipe_req.id %}">Delete</a>
    </td>
  </tr>
  {% endfor %}
</table>

<ul>
<li><a href="{% url 'create_recipe_req' %}">Create New Recipe Requirement</a></li>
</ul>
{% endblock %}