{% extends 'base.html' %}

{% block content %}
<h1>Recipe Requirements</h1>

<table class="table">
  <tr>
    <th>Menu Item</th>
    <th>Ingredient</th>
    <th>Quantity Required</th>
    <th>Edit Item</th>
  </tr>
  {% for recipe_req in object_list %}
  <tr>
    <td>
      {{ recipe_req.menu_item.name }}
    </td>
    <td>
      {{ recipe_req.ingredient.name }}
    </td>
    <td>
      {{ recipe_req.quantity }} {{ recipe_req.ingredient.unit }}(s)
    </td>
    <td>
      <div class="btn-group">
      <a href="{% url 'update_recipe_req' recipe_req.id %}" class="btn btn-primary">Edit</a>
      <a href="{% url 'delete_recipe_req' recipe_req.id %}" class="btn btn-danger">Delete</a>
      </div>
    </td>
  </tr>
  {% endfor %}
</table>


<a href="{% url 'create_recipe_req' %}" class="btn mealwise-bg-darkgreen mealwise-white">Create New Recipe Requirement</a>

{% endblock %}