{% extends 'base.html' %} {% load django_bootstrap5 %} {% block content %}
<div class="row">
<h2>{{ menuitem.name }}</h2>
</div>
  <div class="row">
    <div class="col-5">
      <img
        src="{{ menuitem.image.url }}"
        alt="{{ menuitem.name }} image"
        style="max-width: 400px"
        class="mb-3"
      />
    </div>
    <div class="col-7">
      <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
          {% bootstrap_form form %}
          <input class="btn btn-success" type="submit" value="Submit" />
        </div>
      </form>
    </div>
  </div>
<div class="row">
<div class="mt-5 d-flex justify-content-between">
<h3>Recipe</h3>
<button
  hx-get="{% url 'htmx_create_recipe_req' menuitem.id %}"
  hx-target="#recipe_table"
  hx-swap="beforeend"
  _="on htmx:afterOnLoad add .disabled to me"
  class="btn btn-success my-auto"
  id="createRecipeButton"
>
  Create New Recipe Requirement
</button>
</div>
</div>
<div class="row">
<table class="table">
  <thead>
    <tr>
      <th>Ingredient</th>
      <th>Quantity Required</th>
      <th class="text-end">Edit Item</th>
    </tr>
  </thead>
  <tbody id="recipe_table">
    {% for recipe_req in menuitem.get_recipe_requirements %}
    <tr>
      <td>{{ recipe_req.ingredient.name }}</td>
      <td>{{ recipe_req.quantity }} {{ recipe_req.ingredient.unit }}(s)</td>
      <td class="text-end">
        <div class="btn-group">
          <button
            hx-get="{% url 'htmx_update_recipe_req' recipe_req.id %}"
            hx-target="closest tr"
            hx-swap="outerHTML"
            class="btn btn-primary"
          >
            Edit
          </button>
          <button
            hx-confirm="Are you sure you want to delete this requirement?"
            hx-post="{% url 'htmx_delete_recipe_req' recipe_req.id %}"
            hx-target="closest tr"
            hx-swap="outerHTML"
            class="btn btn-danger"
          >
            Delete
          </button>
        </div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
<!-- <div class="row"> -->
<!-- <button
  hx-get="{% url 'htmx_create_recipe_req' menuitem.id %}"
  hx-target="#recipe_table"
  hx-swap="beforeend"
  _="on htmx:afterOnLoad add .disabled to me"
  class="btn btn-success"
  id="createRecipeButton"
>
  Create New Recipe Requirement
</button> -->
<!-- </div> -->
{% endblock %}
